<template>
  <div id="game-results">
      <p>Your score on the quiz was {{result}}</p>
  </div>
</template>

<script>
export default {
    name: "GameResults",
    props: {
      result: Number
    }
}
</script>

<style>

</style>