<template>
  <div id="game-intro">
      <p>In this quiz you will get 10 questions worth 10 point each.</p>
      <GameMenu></GameMenu>
  </div>
</template>

<script>
import GameMenu from "../components/GameMenu"

export default {
    name: "GameIntro",
    components: {
        GameMenu
    }
}
</script>

<style>

</style>