<template>
  <div id="game-started">
      <h2>Question</h2>
      <QuizQuestion v-for="(question, index) of questions" :key="index" v-bind:quiz-question="question" @answer-event="handleAnswer" v-show="currentQuestion === index"></QuizQuestion>
  </div>
</template>

<script>
import axios from 'axios'
import QuizQuestion from '../components/QuizQuestion'

export default {
    name: "GameStarted",
    components: {
        QuizQuestion
    },
    created(){
        axios.get('https://opentdb.com/api.php?amount=10&category=31&difficulty=medium&type=multiple')
        .then(resp => resp.data)
        .then(resp => {
            this.questions = resp.results;
        })
    },
    methods:{
      handleAnswer(correct){
        if(correct){
          this.points += 10;
        }

        if (this.currentQuestion+1 === this.questions.length){
          this.$router.push({name: 'GameResults', params: {result: this.points}});
        }
        this.currentQuestion++;
      }
    }
    ,
    computed:{

    },
    events:{
      'answer-event': ()=>{
        this.points += 10
      }
    },
    data(){
        return {
            questions: [],
            points: 0,
            currentQuestion: 0
        }
    }
}
</script>

<style>

</style>