<template>
    <div id="game-menu">
        <v-btn><router-link to="/quiz">Start Game</router-link></v-btn>
    </div>
</template>

<script>
export default {
    name: 'GameMenu'
}
</script>

<style scoped>

</style>