<template>
  <v-card class="quiz-question" >
    <v-card-title>{{questionText}}</v-card-title>
    <v-card-actions>
      <v-btn @click="handleAnswer(0)">{{this.shuffledAnswers[0]}}</v-btn>
      <v-btn @click="handleAnswer(1)">{{this.shuffledAnswers[1]}} </v-btn>
      <v-btn @click="handleAnswer(2)">{{this.shuffledAnswers[2]}} </v-btn>
      <v-btn @click="handleAnswer(3)">{{this.shuffledAnswers[3]}} </v-btn>
    <!-- <QuizButton v-for="(text, index) of shuffledAnswers" :key="index" v-bind:quiz-button="text"></QuizButton> -->
    </v-card-actions>
  </v-card>
</template>

<script>
// import QuizButton from './QuizButton'
export default {
  name: "QuizQuestion",
  props: {
    quizQuestion: Object,
  },
  components: {
    // QuizButton
  },
  created(){
    this.questionText = this.quizQuestion.question
    this.correctAnswer = this.quizQuestion.correct_answer
    this.shuffleAnswers()
  },
  methods:{
    shuffleAnswers(){
      let answers = [...this.quizQuestion.incorrect_answers, this.quizQuestion.correct_answer]

      var m = answers.length, t, i;

      // While there remain elements to shuffle…
      while (m) {
      // Pick a remaining element…
      i = Math.floor(Math.random() * m--);

      // And swap it with the current element.
      t = answers[m];
      answers[m] = answers[i];
      answers[i] = t;
      }
      this.shuffledAnswers = answers;
      this.correctIndex = this.shuffledAnswers.indexOf(this.quizQuestion.correct_answer)
    },
    handleAnswer(number){
      if( number === this.correctIndex){
        this.$emit('answer-event', true)
        this.currentQuestion++;
      }
      else{
        this.$emit('answer-event', false)
        this.currentQuestion++;
      }
    
  }
  },
  data(){
    return{
      shuffledAnswers: [],
      correctIndex: null,
      questionText: ''
    }
  }
  
}
</script>

<style>
</style>