<template>
  <v-app>
    
    <v-content>
      <v-container fill-height fluid>
        <v-row align="center"
        justify="center"
        >
        <v-column><router-view></router-view></v-column>
        </v-row>
      </v-container>
    </v-content>
    
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
